<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KeyPin - Find your lost items!</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/assets/css/stylish-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/main.css">

    <!-- jQuery -->
    <script src="../static/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/assets/js/bootstrap.min.js"></script>

    <!-- PureCSS -->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    <!-- Custom Fonts -->
    <link href="../static/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../static/assets/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="../static/assets/js/materialize.min.js"></script>

    <!--Firebase-->
    <script src="../static/assets/js/firebase.js"></script>
    <script src="../static/assets/js/main.js"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

<script>
    function checkItem() {
        var id = document.getElementById("id_entry").value;

        ref.child("items/" + id).once("value", function (snapshot) {
            if (snapshot.exists() && id!=''){
                alert("I EXIST");
            } else {
                alert("id does not exist.");
            }
        });

    }

</script>
<body>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <h1>KeyPin</h1>
        <h3>KeyPin' your items safe</h3>
        <div class="col s12" id="form">
            <div class="row center-align">
                <div class="centered">
                    <div class="input-field col s6 offset-s3">
                        <input id="id_entry" type="text" class="validate" onkeydown = "if (event.keyCode == 13)
                        checkItem()">
                        <label for="id_entry"><span class="black-text">id number</span></label>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="submit_button" class="btn waves-effect waves-light" onclick="checkItem()">Submit</button>
                <a href="#about" class="btn waves-effect waves-light">About</a>
            </div>
            <div><br></div>
            <div>
                <button type="button" class="btn blue waves-effect waves-light" onclick="fblogin()">Facebook Login</button>
            </div>
        </div>
    </div>


</header>


<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>KeyPin is the perfect tool to recover your lost items</h2>
                <p class="lead">Ever lost an item and wanted to be contacted without
                    fearing about putting too much information on the item?</p>
                <p class="lead">KeyPin serves as the middle man, making sure both sides can message
                    each other while maintaining anonymity.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Did you find something?</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-search fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>1) Find the Label</strong>
                            </h4>
                            <p>If the item is registered with KeyPin, locate the
                                key, and go to keypin.me to type in the id number. </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-file-text fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>2) Enter the Code</strong>
                            </h4>
                            <p>Enter the key onto this website to find the
                                anonymous owner of the item. </p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-comment fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>3) Chat with the Owner</strong>
                            </h4>
                            <p>This is your opportunity to exchange information.
                                The chat is only available between owner and founder.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-child fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>4) Return the Item</strong>
                            </h4>
                            <p>Hopefully, an agreement is met. How you and the
                                owner decide on returning the item is up to you both.</p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>

    <hr class="large">

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Might lose something?</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-edit fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>1) Label your items</strong>
                            </h4>
                            <p>Register your items in your profile and label your
                                items with the unique key id. Printed labels to come.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-eye-slash fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>2) Lose Item</strong>
                            </h4>
                            <p>Optional. But if you want to use our services to
                                its fullest, you must lose your item, deliberately or not.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-exclamation-circle fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>3) Get Found Notification</strong>
                            </h4>
                            <p>Once found, you'll get notified to start a private
                                message channel with the founder and exchange info.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-child fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>4) Get Item Back</strong>
                            </h4>
                            <p>Hopefully, an agreement will be met. Whether you
                                meet the person or have it dropped off is up to you both.</p>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>


<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>KeyPin</strong>
                </h4>
                <p>built with <3</p>
                <hr class="small">
                <p class="text-muted">Copyright &copy; me 2017</p>
            </div>
        </div>
    </div>
</footer>


<!-- Custom Theme JavaScript -->
<!--<script>-->
<!--// Closes the sidebar menu-->
<!--$("#menu-close").click(function (e) {-->
<!--e.preventDefault();-->
<!--$("#sidebar-wrapper").toggleClass("active");-->
<!--});-->

<!--// Opens the sidebar menu-->
<!--$("#menu-toggle").click(function (e) {-->
<!--e.preventDefault();-->
<!--$("#sidebar-wrapper").toggleClass("active");-->
<!--});-->

<!--// Scrolls to the selected menu item on the page-->

<!--</script>-->


</body>

</html>
