<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KeyPin - Find your lost items!</title>

    <link rel="icon" href="../static/assets/img/close.png">

    <!-- Bootstrap Core CSS -->
    <link href="../static/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/assets/css/stylish-portfolio.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/main.css">

    <!-- jQuery -->
    <script src="../static/assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/assets/js/bootstrap.min.js"></script>

    <!-- Custom Fonts -->
    <link href="../static/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../static/assets/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="../static/assets/js/materialize.min.js"></script>

    <!-- Animation -->
    <link href="../static/assets/css/style.css" rel="stylesheet" type="text/css" media="screen"/>

    <!--Filestack-->
    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

    <!--Firebase-->
    <script src="../static/assets/js/firebase.js"></script>
    <script src="../static/assets/js/main.js"></script>

</head>

<a href = "/">
    <button type="button" class="btn btn-dark home-button waves-effect waves-light">KeyPin</button>
</a>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>

<script type="text/javascript">
    function additem() {
        var npath = "items/";
        var item_id = document.getElementById('item_id_form').value;
        var pref = ref.child(npath + item_id);
        ref.child("items/" + item_id).once("value", function (snapshot) {
            if (snapshot.exists() && '' != item_id) {
                alert("Item id already exists.");

            }else{
                    pref.set({
                        "name": document.getElementById('item_name_form').value,
                        "owner_id": "{{fbid}}",
                        "imgurl":document.getElementById('url_form').value
                    });
            }
        });


        var div = document.getElementById('item_table');
        div.innerHTML = "<h2>Your Items</h2><div class=\"row\"><div class=\"col-md-6\"></div></div>";
        readitems();
    }

    function itemExists(id) {
        ref.child("items/" + id).once("value", function (snapshot) {
            if (snapshot.exists() && id != '') {
                alert("Item id already exists.")
                return true;
            }
            return false;
        });
    }

    function readitems() {
        ref.child("items").orderByChild("owner_id").equalTo("{{fbid}}").once("value", function (snapshot) {
            snapshot.forEach(function (itemSnap) {
                var div = document.getElementById('item_table');
                var imgurl = itemSnap.val().imgurl;
                if (imgurl === ''){
                    imgurl = '../static/assets/img/question-mark.jpg';
                }
                div.innerHTML = div.innerHTML + "<div id=\"mainwrapper\"><div class=\"box col-md-4\"><img src=" + imgurl + " id=" + itemSnap.key() + " onclick='openItem(" + itemSnap.key() + ")' class=\"img-portfolio img-responsive grow\"/><span class=\"caption simple-caption\" href=\"#\">"+itemSnap.val().name +"</span></div></div>";
            })
        })
    }

    function setURL(url){
        document.getElementById("url_form").value = url;
        $('#myModal').modal('show');
    }

    function hideModal(){
        $('#myModal').modal('hide');
    }
</script>

<script>
    $(document).ready(function () {
        $('select').material_select();
    });
    $(document).ready(function () {
        $('.modal-trigger').leanModal();
    });


    function readChat(id) {
        console.log("I AM READING");
        document.getElementById("modal-title-home").innerHTML = "Chat for " + id;

        var $cont = $('.modal-body');
        ref.child("items/" + id + "/messages").on("child_added", function (snapshot) {
            console.log(snapshot.val());
            var div = document.getElementById('chat-list');
            div.innerHTML += "<p>" + snapshot.val() + "</p>"
            $cont[0].scrollTop = $cont[0].scrollHeight;
        });
    }

    function sendMsg(id) {
//        alert(id);
        var msgref = ref.child("items/" + id + "/messages").push();
        msgref.set("Owner: " + document.getElementById('msg-entry').value)
        document.getElementById('msg-entry').value = "";
    }
</script>

<script>
    function clearChat() {
        var div = document.getElementById('chat-list');
        div.innerHTML = "";
    }

    function openItem(id) {
        document.getElementById('message-id').innerHTML = id;
        ref.child("items/" + id).once("value", function (snapshot) {
                ref.child("items/" + id + "/messages").off();
                clearChat();
                $('#modal2').modal({show: true});
                readChat(id);
        });
    }
</script>

<body>
<div class="modal" id="modal2">
    <div class="modal-dialog" id="modal3">
        <div class="modal-header">
            <button type="btn" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
            <h4 class="modal-title" id="modal-title-home">Chat</h4>
        </div>
        <div class="modal-body" id="chat-body-user">
            <div id="chat-list"></div>
        </div>
        <div class="hidden" id="message-id"></div>
        <div class="modal-footer">
            <div class="input-field col s6 offset-s3">
                <input id="msg-entry" type="text" class="validate" onkeydown="if (event.keyCode == 13)
                        sendMsg(document.getElementById('message-id').innerHTML)" autofocus>
                <label for="msg-entry"><span class="black-text">Enter your message</span></label>
            </div>
            <div class="btn btn-primary" onclick="sendMsg(document.getElementById('message-id').innerHTML)">Send Message</div>
        </div>
    </div>
</div>


<body onload="readitems()">
<!-- Modal -->
<div id="myModal" class="modal fade behind" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title centered">New Item</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form class="pure-form pure-form-aligned">
                        <fieldset>
                            <div class="pure-control-group">
                                <label for="item_name_form">Name</label>
                                <input id="item_name_form" type="text" placeholder="Name" class="item-input">
                            </div>
                            <div class="pure-control-group">
                                <label for="item_id_form">ID</label>
                                <input id="item_id_form" type="number" placeholder="ID" class="item-input" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                            </div>
                            <div class="pure-control-group hidden">
                                <label for="url_form">Image URL</label>
                                <input id="url_form" type="text" placeholder="URL" class="item-input">
                            </div>

                            <div>
                                <input type="filepicker" data-fp-apikey="A1VISLPrfTcijxscOkMXoz"
                                       onchange="setURL(event.fpfile.url)" data-fp-container="window" data-fp-button-class="btn blue">
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-dark" data-dismiss="modal" onclick="additem()">Submit</button>
            </div>
        </div>
    </div>
</div>


<section id="portfolio" class="portfolio">
    <div class="container centered">
        <div class="row">
            <div id="item_table" class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Your Items</h2>
                <div class="row">
                    <div class="col-md-6">
                    </div>
                </div>


            </div>
        </div>
        <button type="button" class="waves-effect waves-light btn" data-toggle="modal" data-target="#myModal">Add New Item</button>
    </div>
</section>



<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>KeyPin</strong>
                </h4>
                <p>built with <3</p>
                <hr class="small">
                <p class="text-muted">Copyright &copy; me 2017</p>
            </div>
        </div>
    </div>
</footer>


<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>
